<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Holly and Lennys Wedding Site!</title>
        <link
            href="{{ url_for('static', filename='css/normalize.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='css/main.css') }}"
            rel="stylesheet">
    </head>
    <body>
        <div class="container">

            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>
