body {
  background-color: #ddd; }

.container {
  font-family: Muli, sans-serif;
  margin: 0 auto 62px;
  max-width: 1200px;
  min-width: 320px;
  width: 1200px; }

.hero {
  position: relative; }
  .hero-bgimg {
    display: block;
    margin: auto;
    margin-top: -125px;
    position: relative;
    width: 100%; }
  .hero-logo {
    margin: 42px 0;
    text-align: center;
    width: 125px; }
  .hero-copy {
    color: white;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 125px;
    width: 565px; }
    .hero-copy-title, .hero-copy-subtitle {
      font-size: 21px;
      font-weight: 100;
      letter-spacing: .1em;
      line-height: 0.5; }
      .hero-copy-title span, .hero-copy-subtitle span {
        display: inline-block;
        position: relative; }
        .hero-copy-title span:after, .hero-copy-title span:before, .hero-copy-subtitle span:after, .hero-copy-subtitle span:before {
          border-bottom: 1px solid #fff;
          content: "";
          position: absolute;
          top: 5px;
          width: 100%; }
        .hero-copy-title span:after, .hero-copy-subtitle span:after {
          left: 100%;
          margin-left: 15px; }
        .hero-copy-title span:before, .hero-copy-subtitle span:before {
          right: 100%;
          margin-right: 15px; }
    .hero-copy-names {
      font-size: 64px;
      letter-spacing: .07em;
      margin: 85px 0; }

.aboutus {
  background-color: #ede7d6;
  padding: 40px 20px;
  text-align: center; }
  .aboutus-img {
    margin: 40px auto; }
  .aboutus-story {
    margin: auto;
    max-width: 500px; }

.bridalparty-bridesmaids, .bridalparty-groomsmen {
  padding: 20px;
  text-align: center; }

.bridalparty-bridesmaids {
  background-color: #f8cdc0; }

.bridalparty-groomsmen {
  background-color: #d0c5a2; }

.bridalparty-imagerow {
  margin: 30px auto; }
  .bridalparty-imagerow-title {
    margin-top: 30px; }
  .bridalparty-imagerow-image {
    margin: 0 15px; }

.registrybanner {
  background-color: #000;
  bottom: 0;
  font-family: Muli, sans-serif;
  left: 0;
  opacity: 0.7;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%; }
  .registrybanner-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
