.container {
  background-color: #fff;
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin: 60px auto 30px;
  max-width: 1000px;
  min-width: 320px;
  width: 100%; }
  @media (min-width: 600px) {
    .container {
      margin-top: 150px; } }

.Hero {
  margin-bottom: 100px;
  padding: 0 30px;
  position: relative; }
  .Hero-copy {
    overflow: hidden;
    text-align: center;
    text-transform: uppercase; }
    .Hero-copy-title, .Hero-copy-subtitle {
      font-size: 21px;
      font-weight: 100;
      letter-spacing: .1em; }
      .Hero-copy-title span, .Hero-copy-subtitle span {
        display: inline-block;
        position: relative; }
        .Hero-copy-title span:after, .Hero-copy-title span:before, .Hero-copy-subtitle span:after, .Hero-copy-subtitle span:before {
          border-bottom: 1px solid #000;
          content: "";
          position: absolute;
          top: 12px;
          width: 100%; }
        .Hero-copy-title span:after, .Hero-copy-subtitle span:after {
          left: 100%;
          margin-left: 15px; }
        .Hero-copy-title span:before, .Hero-copy-subtitle span:before {
          right: 100%;
          margin-right: 15px; }
    .Hero-copy-names {
      font-size: 64px;
      letter-spacing: .07em;
      margin: 85px 0; }

.AboutUs {
  padding: 40px 20px; }
  .AboutUs-title, .AboutUs-image {
    display: block;
    margin: auto; }
  .AboutUs-image {
    margin: 40px auto;
    max-width: 464px;
    width: 100%; }
  .AboutUs-story {
    margin: auto;
    max-width: 520px; }
  .AboutUs-realstory {
    display: none; }

.BridalParty {
  padding: 40px 20px;
  position: relative; }
  .BridalParty:before {
    border-top: 1px solid #ddd;
    content: '';
    height: 1px;
    left: 8%;
    position: absolute;
    right: 8%;
    top: 0; }
  .BridalParty-bridesmaids, .BridalParty-groomsmen {
    margin: auto;
    max-width: 600px;
    text-align: center; }
    .BridalParty-bridesmaids-title, .BridalParty-groomsmen-title {
      display: block;
      margin: 20px auto; }
  .BridalParty-bridesmaid, .BridalParty-groomsman {
    display: inline-block;
    margin: 30px 10px;
    max-width: 120px;
    vertical-align: top; }
    @media (min-width: 600px) {
      .BridalParty-bridesmaid, .BridalParty-groomsman {
        max-width: auto; } }
    .BridalParty-bridesmaid-name, .BridalParty-groomsman-name {
      font-weight: 300;
      margin-top: 10px; }
    .BridalParty-bridesmaid-image, .BridalParty-groomsman-image {
      max-width: 150px;
      width: 100%; }

.registrybanner {
  background-color: #000;
  bottom: 0;
  font-family: Muli, sans-serif;
  left: 0;
  opacity: 0.7;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%; }
  .registrybanner-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }

.Details {
  padding: 40px 20px;
  position: relative; }
  .Details:before {
    border-top: 1px solid #ddd;
    content: '';
    height: 1px;
    left: 8%;
    position: absolute;
    right: 8%;
    top: 0; }
  .Details-title, .Details-image {
    display: block;
    margin: auto; }
  .Details-image {
    max-width: 464px;
    width: 100%; }
  .Details-agenda-item {
    margin: 20px;
    text-align: center; }
  .Details-agenda-time, .Details-agenda-title {
    margin: 0; }

.Accomodations {
  padding: 40px 20px;
  position: relative; }
  .Accomodations:before {
    border-top: 1px solid #ddd;
    content: '';
    height: 1px;
    left: 8%;
    position: absolute;
    right: 8%;
    top: 0; }
  .Accomodations-title, .Accomodations-image {
    display: block;
    margin: auto; }
  .Accomodations-image {
    max-width: 464px;
    width: 100%; }
  .Accomodations-locations {
    margin: auto;
    text-align: center;
    max-width: 370px; }
    .Accomodations-locations-reserved, .Accomodations-locations-bedAndBreakfast {
      margin: auto;
      padding: 10px 20px;
      position: relative; }
      .Accomodations-locations-reserved:hover, .Accomodations-locations-bedAndBreakfast:hover {
        background-color: #e7e7e7;
        border-radius: 5px; }
    .Accomodations-locations-name, .Accomodations-locations-address, .Accomodations-locations-linkCopy {
      margin: 0; }
    .Accomodations-locations-link {
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .Accomodations-locations-linkCopy {
      text-decoration: underline; }
    .Accomodations-locations-arrows {
      margin: 50px 0 20px; }

.Registries {
  padding: 40px 20px;
  position: relative;
  text-align: center; }
  .Registries:before {
    border-top: 1px solid #ddd;
    content: '';
    height: 1px;
    left: 8%;
    position: absolute;
    right: 8%;
    top: 0; }
  .Registries-link {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    padding: 10px; }
  .Registries-image {
    max-width: 290px;
    width: 100%; }

.Navigation {
  text-align: center; }
  .Navigation-mobile-button {
    background: #fff;
    border: none;
    display: none;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px; }
    .Navigation-mobile-button-icon {
      -webkit-box-shadow: 0 12px 0 1px #000, 0 20px 0 1px #000, 0 28px 0 1px #000;
      box-shadow: 0 12px 0 1px #000, 0 20px 0 1px #000, 0 28px 0 1px #000;
      content: '';
      left: 5px;
      position: absolute;
      right: 5px;
      top: 0; }
  .Navigation-list {
    margin: 0;
    padding: 0;
    text-decoration: none; }
  .Navigation-item {
    display: block;
    line-height: 60px; }
    @media (min-width: 800px) {
      .Navigation-item {
        display: inline-block;
        padding: 0 20px;
        vertical-align: top; } }
  .Navigation-link {
    color: #000;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%; }
  .Navigation.fixedTop {
    background: #fff;
    box-shadow: 0 1px 10px #ddd;
    height: 60px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: height 1s;
    z-index: 1000; }
    @media (max-width: 800px) {
      .Navigation.fixedTop .Navigation-mobile-button {
        display: block; } }
  .Navigation.isOpen {
    height: 375px; }
