<section class="AboutUs" id="aboutus">
    <img
        class="AboutUs-title"
        alt="The Couple"
        src="{{ url_for('static', filename='img/the_couple_title.png')}}"
    />
    <img
        class="AboutUs-image"
        alt="Holly and Lenny together"
        src="{{ url_for('static', filename='img/holly_and_lenny.png')}}"
    />
    <div class="AboutUs-story">
        <p class="AboutUs-paragraph">Holly & Lenny met in Boston in November of 2007. With a core group of mutual friends and appreciation for music and dancing, our worlds combined.</p>
        <p class="AboutUs-paragraph">Holly’s love for Massachusetts and Lenny’s thick New York accent gave the couple just the edge they were looking for in a significant other.</p>
        <p class="AboutUs-paragraph">Their love in Boston was just the start, after they graduated from Suffolk, the love birds flew the coop and drove cross country to Lake Tahoe where Lenny would unwillingly teach the “safety first” red head how to ride the slopes of the Rockies.</p>
        <p class="AboutUs-paragraph">Once the Tahoe adventure was over, they packed up their things and set sail for New York City. After a quick stay on Long Island and late night commutes to the big city, the couple finally decided it was time to get a place of their own. They planted their feet in Astoria Queens where they would learn the ins and outs and webs and flows of the big city. They had a beautiful beta fish, “Puppy”, (may he rest in peace) and later got their adorable, stubborn, fart filled frenchie, Hamlet.</p>
        <p class="AboutUs-paragraph">The couple was now a family and the family decided it was time for another move. They found a beautiful one bedroom apartment and moved on up to Long Island City. With views of the Empire State Building and the East River just down the street, the couple fell more in love with the city and each other.</p>
        <p class="AboutUs-paragraph">Holly, Lenny and Hammy were in New York for almost 5 years when they decided to head back to where it all began, Boston.</p>
        <p class="AboutUs-paragraph">The couple now resides in Jamaica Plain, playing tennis on the weekends, and bringing Hamlet on long walks through the Arnold Arboretum. Lenny popped the big question just a day after Christmas while the Whiteside family was vacationing in Asheville, North Carolina. They are extremely glad and thankful for the life they have created together and wonder with excitement what the next steps will bring.</p>
    </div>
    <div class="AboutUs-realstory">
        <p class="AboutUs-story">This is a tale of two lovers. Their story begins in a seedy college bar,
        two beers past too many. A pun with perfect confident delivery provoked a
        laugh and a smile to signify a lifetime together. Lenny and Holly, Holly
        and Lenny, Lolly Forever. The rock doves of Valhalla laid a divine riff
        that evening. A marker for one of time's greatest moments; the gods shred
        all the gnar to this epic testament. After shattering the fabric of reality
        then fusing it back together again with their solar passion, the spices of
        their relationship simmered and matured into the magnum opus of the human
        race. With the grace of the great winged creatures, Leonardo swept Holly off
        her feet into the next chapter of the given status quo. Little did anyone know
        that this is exactly as He had planned. Planned since he was a twinkle in
        that brute's eyes. Booger indeed, he would stick it to everyone. Hamlet the
        loose-cheeked snorter, laid every brick in the construction of this ruse. The
        world was blinded by the awesomeness of the union between deities, oblivious
        to the
        snakey-snake moves by the salsa master of doom. All the carrots will be his
        and the world is helpless but to sit back and watch. Carry the image of Lolly
        in your minds, for the reality of Hamlet's world will be sinister enough to
        blacken the hearts of the purest souls.</p>
        <p>- H.M.</p>
    </div>
</section>
