<section class="aboutus">
    <h2 class="aboutus-title">The cutest little tale</h2>
    <img class="aboutus-img" src="http://placekitten.com/600/400"/>
    <p class="aboutus-story">This is a tale of two lovers. Their story begins in a seedy college bar,
    two beers past too many. A pun with perfect confident delivery provoked a
    laugh and a smile to signify a lifetime together. Lenny and Holly, Holly 
    and Lenny, Lolly Forever. The rock doves of Valhalla laid a divine riff 
    that evening. A marker for one of time's greatest moments; the gods shred 
    all the gnar to this epic testament. After shattering the fabric of reality
    then fusing it back together again with their solar passion, the spices of 
    their relationship simmered and matured into the magnum opus of the human
    race. With the grace of the great winged creatures, Leonardo swept Holly off 
    her feet into the next chapter of the given status quo. Little did anyone know 
    that this is exactly as He had planned. Planned since he was a twinkle in 
    that brute's eyes. Booger indeed, he would stick it to everyone. Hamlet the 
    loose-cheeked snorter, laid every brick in the construction of this ruse. The
    world was blinded by the awesomeness of the union between deities, oblivious 
    to the 
    snakey-snake moves by the salsa master of doom. All the carrots will be his 
    and the world is helpless but to sit back and watch. Carry the image of Lolly 
    in your minds, for the reality of Hamlet's world will be sinister enough to 
    blacken the hearts of the purest souls.</p>
    <p>- H.M.</p>
</section>
