<section class="bridalparty">
    <div class="bridalparty-bridesmaids">
        <h2 class="bridalparty-imagerow-title">Bride's Party</h2>
        <div class="bridalparty-imagerow">
            {% for n in range(4) %}
                <img class="bridalparty-imagerow-image" src="http://placekitten.com/200/300"/>
            {% endfor %} 
        </div>
        <div class="bridalparty-imagerow">
            {% for n in range(4) %}
                <img class="bridalparty-imagerow-image" src="http://placekitten.com/200/300"/>
            {% endfor %} 
        </div>
    </div>
    <div class="bridalparty-groomsmen">
        <h2 class="bridalparty-imagerow-title">Bride's Party</h2>
        <div class="bridalparty-imagerow">
            {% for n in range(4) %}
                <img class="bridalparty-imagerow-image" src="http://placekitten.com/200/300"/>
            {% endfor %} 
        </div>
        <div class="bridalparty-imagerow">
            {% for n in range(4) %}
                <img class="bridalparty-imagerow-image" src="http://placekitten.com/200/300"/>
            {% endfor %} 
        </div>
    </div>
</section>
