<section class="Details" id="details">
    <img
        class="Details-title"
        alt="Details"
        src="{{ url_for('static', filename='img/details_title.png')}}"
    />
    <img
        class="Details-image"
        alt="Details"
        src="{{ url_for('static', filename='img/details_photo.png')}}"
    />
    <div class="Details-agenda">
        {% for item in agenda %}
        <div class="Details-agenda-item">
            <p class="Details-agenda-title">{{ item.title }}</p>
            <p class="Details-agenda-time">{{ item.time }}</p>
        </div>
        {% endfor %}
    </div>
</section>