<section class="Hero" id="home">
    <div class="Hero-copy">
        <h3 class="Hero-copy-title"><span>October 1, 2016</span></h3>
        <h2 class="Hero-copy-names">Holly &#43; Lenny</h2>
        <h3 class="Hero-copy-subtitle"><span>Are getting married</span></h3>
    </div>
    <nav class="Hero-navigation">
        <ul class="Hero-navigation-list">
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#home">Home</a>
            </li>
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#aboutus">About Us</a>
            </li>
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#bridalparty">Wedding Party</a>
            </li>
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#details">Event</a>
            </li>
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#accomodations">Travel</a>
            </li>
            <li class="Hero-navigation-item">
                <a class="Hero-navigation-link" href="#registry">Gift Registry</a>
            </li>
        </ul>
    </nav>
</section>
