<nav class="Navigation" id="navigation">
    <button class="Navigation-mobile-button js-open-navmenu">
        <span class="Navigation-mobile-button-icon"></span>
    </button>
    <ul class="Navigation-list">
        <li class="Navigation-item">
            <a class="Navigation-link" href="#home">Home</a>
        </li>
        <li class="Navigation-item">
            <a class="Navigation-link" href="#aboutus">About Us</a>
        </li>
        <li class="Navigation-item">
            <a class="Navigation-link" href="#bridalparty">Wedding Party</a>
        </li>
        <li class="Navigation-item">
            <a class="Navigation-link" href="#details">Event</a>
        </li>
        <li class="Navigation-item">
            <a class="Navigation-link" href="#accomodations">Travel</a>
        </li>
        <li class="Navigation-item">
            <a class="Navigation-link" href="#registry">Gift Registry</a>
        </li>
    </ul>
</nav>