<section class="Registries">
    <a class="Registries-link" href="http://www.crateandbarrel.com/gift-registry/holly-whiteside-and-lenny-tricarico/r5488816">
        <img
            class="Registries-image"
            alt="Crate and Barrel Registry"
            src="{{ url_for('static', filename='img/crate_and_barrel_logo.png')}}"
        />
    </a>
    <a class="Registries-link" href="http://www1.macys.com/registry/wedding/guest/?registryId=6574095&cm_sp=EXPERIMENT-_-Registry_16B_GVR1-_-Ctrl">
        <img
            class="Registries-image"
            alt="Macy's Registry"
            src="{{ url_for('static', filename='img/macys_logo.png')}}"
        />
    </a>
</section>