.AboutUs {
    padding: 40px 20px;

    &-title,
    &-image {
        display: block;
        margin: auto;
    }

    &-image {
        margin: 40px auto;
        max-width: 464px;
        width: 100%;
    }

    &-story {
        margin: auto;
        max-width: 520px;
    }

    &-realstory {
        display: none;
    }
}
