.BridalParty {
    padding: 40px 20px;
    position: relative;

    &:before {
        @include pseudo-partial-top-border();
    }

    &-bridesmaids,
    &-groomsmen {
        text-align: center;

        &-title {
            display: block;
            margin: auto;
        }
    }

    &-bridesmaid,
    &-groomsman {
        display: inline-block;
        margin: 30px auto;

        &-name {
            font-weight: 300;
            margin-top: 10px;
        }

        &-image {
            margin: 0 15px;
        }
    }
}
