.BridalParty {
    padding: 40px 20px;
    position: relative;

    &:before {
        @include pseudo-partial-top-border();
    }

    &-bridesmaids,
    &-groomsmen {
        margin: auto;
        max-width: 600px;
        text-align: center;

        &-title {
            display: block;
            margin: 20px auto;
        }
    }

    &-bridesmaid,
    &-groomsman {
        display: inline-block;
        margin: 30px 10px;
        max-width: 120px;
        vertical-align: top;

        @media ( min-width: 600px ) {
            max-width: auto;
        }

        &-name {
            font-weight: 300;
            margin-top: 10px;
        }

        &-image {
            max-width: 150px;
            width: 100%;
        }
    }
}
