.Navigation {
    text-align: center;

    &-mobile-button {
        background: $white;
        border: none;
        display: none;
        height: 40px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        &-icon { // Todo, this is super hacky, needs to be an img
            -webkit-box-shadow: 0 12px 0 1px $black, 0 20px 0 1px $black, 0 28px 0 1px $black;
            box-shadow: 0 12px 0 1px $black, 0 20px 0 1px $black, 0 28px 0 1px $black;
            content: '';
            left: 5px;
            position: absolute;
            right: 5px;
            top: 0;
        }
    }

    &-list {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    &-item {
        display: block;
        line-height: 60px;

        @media ( min-width: 800px ) {
            display: inline-block;
            padding: 0 20px;
            vertical-align: top;
        }
    }

    &-link {
        color: $black;
        display: block;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }

    &.fixedTop {
        background: $white;
        box-shadow: 0 1px 10px #ddd;
        height: 60px;
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        transition: height 1s;
        z-index: 1000;

        .Navigation-mobile-button {
            @media ( max-width: 800px ) {
                display: block;
            }
        }
    }

    &.isOpen {
        height: 375px;
    }
}